@{
    ViewData["Title"] = "Uknow Name";
}

<div class="text-center">
    <h1  class="display-4">Hotel Unknow Name</h1>
    <p>Hoteleria y Guarderia</p>
    <div align="center"><img src="~/Imagenes/muchos-perros.jpg"/></div>
</div>
