@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <h1 class="text-center">Informacion</h1>
        <br />
        <h4 class="text-center">
            En Hoteles de Mascotas contamos con diferentes tipos de reservas para poder ofrecer serviciso que se ajusten al cliente
        </h4>
        <br />
        <br />
        <br />
        <div class="row">
            
            <div class="col">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Hoteleria</h5>
                        <p class="card-text text-center">Nuestro Hotel cuenta con habitaciones individuales para cada perrito, equipados con; camas, cojines, mantas y sus respectivos platos de alimento.</p>
                        <p class="card-text text-center">Tarifas de Estadia</p>"
                        <p class="card-text text-center">Perros  $10.000 pesos por noche </p>
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Guarderia</h5>
                        <p class="card-text text-center">Este servicio está enfocado a aquellas mascotas que requieran estar durante el día en un lugar que les permita socializar con otros perros y personas, se generan instancias de juegos y permite que nuestro perro gaste energía.</p>
                        <p class="card-text text-center">Tarifas de Guarderia</p>
                        <p class="card-text text-center">Valor  de $8.000 pesos diarios</p>

                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
            }
