@{
    ViewData["Title"] = "Requisitos de Ingreso";
}
<h1>@ViewData["Title"]</h1>

<dl>

    <dt>A.- Vacunación de mascota:</dt>
    <dd>Su mascota debe contar con las siguientes vacunas al momento de ingresar a nuestras instalaciones.</dd>
    <dd>– Antirrábica</dd>
    <dd>– Séptuple /Octuple: Protege a su mascota de enfermedades como adenovirus, distemper, coronavirus, parainfluenza, bacterias y otros</dd>
    <dd>– KC: Previene y protege de la llamada Tos de perros</dd>
    <dd>– Antiparasitario Interno y Externo</dd>
    <dd>Es responsabilidad del dueño informarnos de la condición de salud de su mascota si corresponden cuidados especiales.</dd>

</dl>

<dl>

    <dt>B.- Hembras en celo</dt>

    <dd>Solo se aceptan hembras en celo bajo la responsabilidad de los dueños.</dd>

</dl>
<dl>

    <dt>C.- Mascotas enfermas</dt>

    <dd>Se aceptan mascotas con tratamientos farmacoligicos y con cuidados especiales, sin embargo, no se aceptan mascotas que presenten signos visibles de enfermedad, que pudieran generar contagios con otras mascotas, si estos se manifiestan durante su estadía, 
    se informara al dueño en forma inmediata y se procederá a llevar a la mascota al veterinario y otorgar el tratamiento necesario. Los costos serán de parte del cliente.</dd>

</dl>
<dl>

    <dt>D.- Mascotas agresivas</dt>

    <dd>
        No se aceptan mascotas que presenten signos de agresividad hacia las personas y las otras mascotas.

    </dd>

</dl>
<dl>

    <dt>E.- Abandono</dt>

    <dd>En caso que el cliente no retire su mascota en la fecha indicada y sin aviso pasando 5 días seguidos, el hotel tomara esta acción como ABANDONO y 
    tomara las medidas legales correspondientes.</dd>

</dl>
<dl>

    <dt>F.- Pago de la reserva</dt>

    <dd>Una vez realizada la reserva el cliente deberá pagar el 50% del valor total del servicio.</dd>

</dl>
<dl>

    <dt>G.- Check Out</dt>

    <dd>El retiro de las mascotas o check out por concepto de hospedaje será hasta las 17:00 horas, de lo contrario se cobrará un día adicional.</dd>

</dl>
